<section class="sign-up">
  <mat-card class="form">
    <mat-form-field>
      <input matInput placeholder="NickName">
      <mat-hint>
        Write NickName!
      </mat-hint>
      <mat-error>
        Please enter a valid nickName
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email">
      <mat-hint>
        Write Email!
      </mat-hint>
      <mat-error>
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password">
      <mat-hint>
        Write Password!
      </mat-hint>
      <mat-error>
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">
      Sign Up
    </button>
  </mat-card>

  <mat-card class="sosial-auth">
    <a>
      <img src="assets/auth/google-plus.svg" alt="">
    </a>
    <a>
      <img src="assets/auth/facebook.svg" alt="">
    </a>
    <a>
      <img src="assets/auth/github-logo.svg" alt="">
    </a>
  </mat-card>
</section>
